# MySQL Configuration
DB_HOST= // host database
DB_PORT= // port database
DB_USER= // user database
DB_PASSWORD= // password database
DB_DATABASE= // name database

# JWT
JWT_SECRET= // jwt secret key